<div class="card">
  <div class="card-body">
    <h5 class="card-title"><%= link_to gossip.title, gossip_path(gossip) %></h5>
    <p class="card-text">Par <%= gossip.user.first_name %></p>
  </div>
</div>
